body {
  background-color: #221f31;
}

img {
  display: block;
  margin-bottom: 16px;
}

/* p {
  color: purple;
} */

/* #contoh.example {
  color: red;
}

.example {
  color: white;
} */

/* p:has(a) {
  color: red;
} */

/* div {
  & a {
    color: red;
  }
} */

/* a.anchor-forum-tag-id {
  color: purple;
} */

/* a {
  color: red;
} */

/* * + * + * {
  color: red;
} */

span + a {
  color: red;
}

span:has(+ a) {
  color: red;
}
